<br>
<div class="hero min-h-screen bg-secondary-content">
  <div class="hero-content flex-col lg:flex-row">
    <img src="../../../assets/imagenes/uleam.png" class="max-w-sm rounded-lg shadow-2xl" />
    <div>
      <h1 class="text-5xl font-bold">Prácticas pre-profesionales</h1>
      <p class="py-2 text-xl">Desarrolla habilidades y adquiere experiencia práctica para impulsar tu carrera profesional.</p>
      <button class="btn btn-primary hero-content" (click)="navigateToPage('Inicio/Planilla')">Explora las oportunidades </button>
    </div>
    <img src="../../../assets/imagenes/uleam.png" class="max-w-sm rounded-lg shadow-2xl" />
  </div>
</div>
