

<div class="bodyComponents">
    <div class="text-center lg:text-left">
      <h1 class="text-3xl text-center font-bold">Practicas</h1>
    </div>
    <div class="flex flex-row justify-between items-center">
      <div class="flex flex-row">
        <div class="form-control d-flex flex-row items-center m-2">
            <input type="file" (change)="uploadXML($event)" accept=".xml" class="file-input" />

        </div>
  
      </div>
    </div>
    <hr>
    <div class="flex flex-row overflow-x-auto justify-self-center">
      <table class="table table-zebra text-lg" >
        <thead>
          <tr>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th>Tutor/Cargo</th>
            <th>Tema del Proyecto</th>
            <th>Síntesis del Proyecto</th>
            <th>Descripción de Actividades</th>
            <th>Valoración del Estudiante</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let activity of activityData">
            <td>{{ activity.fechaini }}</td>
            <td>{{ activity.fechafin }}</td>
            <td>{{ activity.TutorCargo }}</td>
            <td>{{ activity.TemaProyecto }}</td>
            <td>{{ activity.SintesisProyecto }}</td>
            <td>{{ activity.DescripcionActividades }}</td>
            <td>{{ activity.ValoracionEstudiante }}</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>


